gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-meta-enabled=0
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
build-guid=64831abf7c54458fa7c1b3abaabc4407
